
boin/Auth.cs
*.dll
*.pdb
*.exe
boin/bin/Debug/net7.0/boin
boin/bin/Debug/net7.0/boin.deps.json
boin/bin/Debug/net7.0/boin.runtimeconfig.json
boin/bin/Debug/net7.0/chromedriver
boin/bin/Debug/net7.0/selenium-manager/linux/selenium-manager
boin/bin/Debug/net7.0/selenium-manager/macos/selenium-manager
.vs/boin/xs/project-cache/boin-Debug.json
.vs/boin/xs/UserPrefs.xml
boin/obj/boin.csproj.nuget.dgspec.json
boin/obj/boin.csproj.nuget.g.props
boin/obj/boin.csproj.nuget.g.targets
boin/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
boin/obj/Debug/net7.0/apphost
boin/obj/Debug/net7.0/boin.AssemblyInfo.cs
boin/obj/Debug/net7.0/boin.AssemblyInfoInputs.cache
boin/obj/Debug/net7.0/boin.assets.cache
boin/obj/Debug/net7.0/boin.csproj.AssemblyReference.cache
boin/obj/Debug/net7.0/boin.csproj.CopyComplete
boin/obj/Debug/net7.0/boin.csproj.CoreCompileInputs.cache
boin/obj/Debug/net7.0/boin.csproj.FileListAbsolute.txt
boin/obj/Debug/net7.0/boin.GeneratedMSBuildEditorConfig.editorconfig
boin/obj/Debug/net7.0/boin.genruntimeconfig.cache
boin/obj/Debug/net7.0/boin.GlobalUsings.g.cs
boin/obj/project.assets.json
boin/obj/project.nuget.cache
.vs/boin/xs/project-cache/BankCardValidation-Debug.json
boin/app.yaml
boin/bin/Debug/net7.0/app.yaml
*.yaml
.vscode/tasks.json
.vscode/launch.json
.idea/.idea.boin/.idea/vcs.xml
.idea/.idea.boin/.idea/indexLayout.xml
.idea/.idea.boin/.idea/encodings.xml
.idea/.idea.boin/.idea/.name
boin/bin/Debug/net7.0/Dictionary/HKVariants.txt
boin/bin/Debug/net7.0/Dictionary/HKVariantsRevPhrases.txt
boin/bin/Debug/net7.0/Dictionary/JPShinjitaiCharacters.txt
boin/bin/Debug/net7.0/Dictionary/JPShinjitaiPhrases.txt
boin/bin/Debug/net7.0/Dictionary/JPVariants.txt
boin/bin/Debug/net7.0/Dictionary/STCharacters.txt
boin/bin/Debug/net7.0/Dictionary/STPhrases.txt
boin/bin/Debug/net7.0/Dictionary/TSCharacters.txt
boin/bin/Debug/net7.0/Dictionary/TSPhrases.txt
boin/bin/Debug/net7.0/Dictionary/TWPhrasesIT.txt
boin/bin/Debug/net7.0/Dictionary/TWPhrasesName.txt
boin/bin/Debug/net7.0/Dictionary/TWPhrasesOther.txt
boin/bin/Debug/net7.0/Dictionary/TWVariants.txt
boin/bin/Debug/net7.0/Dictionary/TWVariantsRevPhrases.txt
boin/bin/Debug/net7.0/JiebaResource/char_state_tab.json
boin/bin/Debug/net7.0/JiebaResource/cn_synonym.txt
boin/bin/Debug/net7.0/JiebaResource/dict.txt
boin/bin/Debug/net7.0/JiebaResource/idf.txt
boin/bin/Debug/net7.0/JiebaResource/pos_prob_emit.json
boin/bin/Debug/net7.0/JiebaResource/pos_prob_start.json
boin/bin/Debug/net7.0/JiebaResource/pos_prob_trans.json
boin/bin/Debug/net7.0/JiebaResource/prob_emit.json
boin/bin/Debug/net7.0/JiebaResource/prob_trans.json
boin/bin/Debug/net7.0/JiebaResource/stopwords.txt
boin.sln.DotSettings.user
boin/obj/project.packagespec.json
*.png
boin/review.yaml
*.txt
